{% extends "base.html" %}
{% block page_title %}Frugality{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/recipes_style.css')}}">
{% endblock %}

{% block scripts %}
<script defer src="{{url_for('static', filename='js/recipes.js')}}"></script>
{% endblock %}


{%block content %}
<div class="container">
    <nav>Navigation panel</nav>
    <div class="content-large">
        <ol class="recipe-list">
            <li>
                <div class="recipe-div">
                    <button class="add-recipe" onclick="createRecipeDisplay()">
                        <h2>+</h3>
                    </button>
                </div>
            </li> 
        </ol>
    </div>
    <div class="sidebar">Sidebar</div>
    <div class="footer">Footer</div>
</div>
{% endblock %}


<div class="main">
    <form>
        <div class="details">
            <div>
                <p>Search Store:</p>
                <input id="store" type="text" value="{{ value }}" placeholder="Enter store name">
            </div>
        </div>

        <div class="items">
            <div class="item">
                <div class="input">
                    <input class="query" type="text" value="" placeholder="Enter query">
                    <input class="amount" type="text" value="" placeholder="Enter amount">
                </div>
                <div class="item-dropdown">
                    <select class="categories"></select>
                </div>
            </div>
        </div>
    </form>
    <div class="send-query">
        <button class="query-btn" onclick="sendQuery()">Query</button>
    </div>
</div>


<div class="query_item">
    <div class="item-name"><p>NAME PLACEHOLDER</p></div>
    <div class="item-amt"><p>AMOUNT</p></div>
    <div class="rm_query_item"></div>
</div>
<div class="query_item">
    <div class="item-name"><p>NAME PLACEHOLDER NAME PLACEHOLDER</p></div>
    <div class="item-amt"><p>AMOUNT</p></div>
    <div class="rm_query_item"></div>
</div>
<div class="query_item">
    <div class="item-name"><p>NAME PLACEHOLDER</p></div>
    <div class="item-amt"><p>AMOUNT</p></div>
    <div class="rm_query_item"></div>
</div>


@media (min-aspect-ratio: 4/3) {
    .container {
        grid-template-areas:
        "content-large result-data"
        "query-list result-data";
        column-gap: 1em;
        row-gap: 1em;
        grid-template-columns: 0.3fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}