:root {
    /* Color definitions */
    --primary-text-light: hsl(200, 100%, 100%);
    --primary-text-dark: hsl(hsl(0, 0%, 25%));
    --secondary-text-dark: hsl(0, 0%, 40%);

    --clr-primary-light-100: hsl(200, 60%, 80%);
    --clr-primary-light-200: hsl(200, 60%, 70%);
    --clr-primary-light-300: hsl(200, 60%, 60%);
    --clr-primary-light-400: hsl(200, 60%, 50%);
    --clr-primary-light-500: hsl(200, 60%, 40%);

    --clr-foreground-light: hsl(200, 100%, 95%);
    --clr-background-light: hsl(200, 100%, 100%);

    --clr-debug-red: rgba(255, 0, 0, 0.15);
    --clr-debug-blue: rgba(0, 0, 255, 0.15);
    --clr-debug-green: rgba(0, 128, 0, 0.15);
    --clr-debug-yellow: rgba(255, 255, 0, 0.15);
}

:root {
    --clr-primary-text: var(--primary-text-dark);
    --clr-background: var(--clr-background-light);
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--clr-primary-text);
    background-color: var(--clr-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
}