:root {
    /* Color definitions */
    --primary-light-100: hsl(197, 100%, 95%);
    --primary-light-200: hsl(202, 95%, 90%);
    --primary-light-300: hsl(205, 80%, 80%);
    --primary-light-400: hsl(207, 70%, 70%);
    --primary-light-500: hsl(210, 50%, 60%);
    --primary-light-600: hsl(212, 54%, 55%);
    --primary-light-700: hsl(215, 57%, 50%);
    --primary-light-800: hsl(217, 61%, 45%);
    --primary-light-900: hsl(219, 63%, 37%);

    --grey-100: hsl(210, 38%, 97%);
    --grey-200: hsl(210, 32%, 93%);
    --grey-300: hsl(210, 28%, 87%);
    --grey-400: hsl(210, 16%, 77%);
    --grey-500: hsl(210, 12%, 65%);
    --grey-600: hsl(211, 13%, 58%);
    --grey-700: hsl(212, 14%, 46%);
    --grey-800: hsl(212, 14%, 32%);
    --grey-900: hsl(212, 16%, 24%);

    --red-500: hsl(0, 90%, 60%);
    --yellow-500: hsl(50, 90%, 60%);
    --green-500: hsl(120, 90%, 60%);

    --primary-text-light: hsl(200, 100%, 100%);
    --secondary-text-light: hsl(200, 50%, 100%);
    --primary-text-dark: hsl(hsl(0, 0%, 25%));
    --secondary-text-dark: hsl(0, 0%, 40%);

    --clr-primary-light-100: hsl(200, 60%, 80%);
    --clr-primary-light-200: hsl(200, 60%, 70%);
    --clr-primary-light-300: hsl(200, 60%, 60%);
    --clr-primary-light-400: hsl(200, 60%, 50%);
    --clr-primary-light-500: hsl(200, 60%, 40%);

    --clr-foreground-light: hsl(200, 100%, 95%);
    --clr-background-light: hsl(200, 100%, 100%);

    --clr-debug-red: rgba(255, 0, 0, 0.15);
    --clr-debug-blue: rgba(0, 0, 255, 0.15);
    --clr-debug-green: rgba(0, 128, 0, 0.15);
    --clr-debug-yellow: rgba(255, 255, 0, 0.15);
}

:root {
    --clr-text: var(--grey-800);
    --clr-background: var(--grey-200);
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--clr-text);
    background-color: var(--clr-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
}