@import './base.css';

#app {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    height: 120vh;
}


/* Simple inline style definitions */
.shadow-light {
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

.shadow-medium {
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, .2);
}

.shadow-heavy {
    box-shadow: 0 15px 35px hsla(0, 0%, 0%, .2);
}

.shadow-inset-light {
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, .2);
}

.shadow-inset-medium {
    box-shadow: inset 0 4px 6px hsla(0, 0%, 0%, .2);
}

.shadow-inset-heavy {
    box-shadow: inset 0 15px 35px hsla(0, 0%, 0%, .2);
}