@import './base.css';

nav {
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: var(--clr-primary-light-300);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-link {
    color: var(--secondary-text-light);
    background-color: var(--clr-primary-light-300);
    font-weight: bold;
    font-size: 1.4rem;
    border: 0;
}

.nav-link:hover {
    color: var(--clr-primary-light-400)
}

#app {

}


/* Simple style definitions */
.shadow {
    box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1);
}