@import './base.css';

#app {
    display: flex;
    flex-direction: column;
    height: 200vh;
}


/* Simple style definitions */
.shadow-light {
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
}

.shadow-medium {
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, .2);
}

.shadow-heavy {
    box-shadow: 0 15px 35px hsla(0, 0%, 0%, .2);
}