* {
    box-sizing: border-box;
}

html {
    --clr-text-basic: hsl(0, 0%, 25%);
    --clr-blue-default: hsl(189, 100%, 35%);
    --clr-blue-hover: hsl(189, 100%, 40%);
    --clr-white-default: hsl(200, 100%, 100%);
    --clr-white-hover: hsl(201, 100%, 95%);

    --clr-primary-100: hsl(200, 60%, 80%);
    --clr-primary-150: hsl(200, 60%, 75%);
    --clr-primary-200: hsl(200, 60%, 70%);
    --clr-primary-250: hsl(200, 60%, 65%);
    --clr-primary-300: hsl(200, 60%, 60%);
    --clr-primary-400: hsl(200, 60%, 50%);
    --clr-primary-500: hsl(200, 60%, 40%);
}

/* Generic styles BEGIN */
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.field {
    border: 0;
    margin: 0.5rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(65, 65, 65);
    background-color: var(--clr-white-default);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.field:hover {
    background-color: var(--clr-white-hover);
}

.btn {
    font-weight: bold;
    color: var(--clr-white-default);
    background-color: var(--clr-primary-300);
    font-size: 1.1rem;
    border: 0;
    margin: 0.5rem;
    padding: 0.4rem 0.6rem;
}

.btn:hover {
    background-color: var(--clr-primary-400);
}

.rounded {
    border-radius: 1rem;
}

.rounded-more {
    border-radius: 2rem;
}

.hidden {
    display: none;
}

.vertical-list {
    display: flex;
    flex-flow: column;
    justify-content: left;
    align-items: center;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.horizontal-list {
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: left;
    list-style: none;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.input-box {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-bottom: 0.5rem;
    width: 45%;
}
/* Generic styles END */

/* Media START */
@media only screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}

@media only screen and (min-width: 1500px) {
    html {
        font-size: 28px;
    }
}
/* Media END */ 
