/* Semantic START */
body {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    height: 150svh;
    max-height: 150svh;
    font-family: Verdana, sans-serif;
}

nav {
    position: sticky;
    width: 100%;
    background-color: var(--clr-primary-300);
    height: 2rem;
}

header {
    display: flex;
    flex-direction: column;;
    margin-bottom: 5svh;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    height: 80svh;
    border: 2px dashed black;
}

main {
    width: 80%;
    height: 100%;
    display: grid;
    overflow: hidden;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-primary-150);
}

footer {
    width: 80%;
    height: 10svh;
    background-color: var(--clr-primary-300);
}

p, h1, h2 {
    color: var(--clr-text-basic);
}

h1, h2 {
    margin: 1rem;
}

h1 {
    font-size: 3rem;
}
/* Semantic END */

/* Header elements BEGIN */
.store-box {
    width: 15rem;
    position: relative;
    margin-bottom: 3rem;
    background-color: rgba(255, 0, 0, 0.2);
}

.store-box input {
    width: 100%;
    margin-bottom: 0;
}

.store-result-container {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    max-height: 8.25rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.store-result-container::-webkit-scrollbar {
    display: none; /* Chrome Safari Opera */
}

.store-result-container ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.store-result-item {
    background-color: var(--clr-white-default);
}

.store-result-item:hover {
    background-color: var(--clr-white-hover);
}

.store-result-txt {
    margin: 0;
    padding: 0.4rem 0 0.6rem 1.5rem;
    font-size: 0.5rem;
    font-weight: bold;
    color: var(--clr-text-grey);
}

.stores-list {
    margin: 0.5rem;
    height: fit-content;
    width: 50%;
    flex-wrap: wrap;
}

.store-item {
    display: flex;
    width: max-content;
    height: min-content;
    margin: 0.5rem 0.5rem;
}

.store-item-txt {
    margin: 0;
    padding: 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--clr-white-default);
    background-color: var(--clr-primary-300);
    border-radius: 1rem 0 0 1rem;
}

.store-item button {
    border: 0;
    padding: 0.5rem;
    margin-left: 0.1rem;
    padding-right: 0.7rem;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--clr-white-default);
    background-color: var(--clr-primary-300);
    border-radius: 0 1rem 1rem 0;
}

.store-item:hover .store-msg {
    background-color: var(--clr-primary-250);
}

.store-item:hover button {
    background-color: var(--clr-primary-250);
}

.store-item button:hover {
    background-color: var(--clr-primary-400);
}
/* Header elements END */

/* Section 1 elements BEGIN */
.queries-list {
    width: 60%;
    max-height: 15rem;
    overflow-y: scroll;
}
.query-item {
    display: flex;
    flex-flow: row;
    width: 95%;
    height: min-content;
    max-width: 100%;
    margin: 0.5rem;
    box-sizing: border-box;
    background-color: var(--clr-white-default)
}

.query-item:hover {
    background-color: var(--clr-white-hover);
}

.query-data {
    display: flex;
    flex-flow: row;
    margin: 0.7rem;
    width: 100%;
    height: 3rem;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.item-text {
    display: flex;
    flex-flow: column;
    justify-content: left;
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.name {
    width: fit-content;
    padding-bottom: 0.1rem;
    margin: 0;
    margin-top: 0.5rem;
    font-weight: bold;
    word-wrap: break-word;
    border-bottom: 0.2rem solid var(--clr-primary-300);
}

.category {
    height: min-content;
    width: fit-content;
    margin: 0;
    margin-top: 0.2rem;
    margin-left: 1.5rem;
    font-size: 0.8rem;
    word-wrap: break-word;
    font-style: italic;
}
/* Section 1 elements END */