body {
    margin: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

nav {
    background-color: white;
    padding: 0.2em;
    border: 3px solid black;
    grid-area: nav;
}

.container {
    width: 70vw;
    height: 120vh;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "content-large content-large sidebar"
        "content-large content-large sidebar"
        "footer footer footer";
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 3em 4em 1fr 5em;
    gap: 1em;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 0.5em;
    box-sizing: border-box;
}

.content-large {
    grid-area: content-large;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding: 0.5em;
    padding-top: 2em;
    margin: 0;
    border: 3px solid black;
    border-radius: 0.3em;
    overflow: hidden;

}

.recipe-list {
    margin: 0.5em;
    padding: 1.5em;
    width: 90%;
    height: 90%;
    gap: 0.5em;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(9em, 12em);
    overflow: scroll;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    border: 3px dashed black;
    box-sizing: border-box;
}

.recipe-list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    border: 3px solid black;
    border-radius: 0.4em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.recipe-div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.recipe-button {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    background-color: grey;
}

.recipe-button:hover {
    background-color: lightgray;
}

.add-recipe {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    background-color: lightblue;
}

.footer {
    grid-area: footer;
    background-color: white;
    padding: 1em;
    border: 3px solid black;
    border-radius: 0.3em;
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    padding: 1em;
    border: 3px solid black;
    border-radius: 0.3em;
}

.create-recipe {
    grid-area: create-recipe;
    background-color: white;
    padding: 1em;
    border: 3px solid black;
    border-radius: 0.3em;
}

@media only screen and (max-width: 50em) {
    .container {
        grid-template-areas:
        "nav"
        "sidebar"
        "content-large"
        "content-large"
        "content-large"
        "content-large"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 3em 4em 1fr 1fr 1fr 1fr 8em;  
    }

    .content-large {
        flex-flow: row wrap;
    }
}