* {
    box-sizing: border-box;
}

/* Semantic START */
body {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-height: 1000svh;
    font-family: Verdana, sans-serif;
}

nav {
    position: sticky;
    width: 100%;
    background-color: var(--clr-primary-300);
    height: 5%;
}

header {
    display: flex;
    flex-direction: column;;
    margin-top: 6svh;
    margin-bottom: 3svh;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 20svh;
    background-color: var(--clr-primary-100);
}

main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

section {
    display: flex;
    flex-flow: column;
    border: 0.15rem solid var(--clr-primary-100);
    border-radius: 0.5rem;
    margin-bottom: 3svh;
    height: fit-content;
}

footer {
    width: 80%;
    height: 10svh;
    background-color: var(--clr-primary-300);
}

p, h1, h2, h3, h4 {
    color: var(--clr-text-basic);
}

.store-header {
    display: flex;
    width: fit-content;
    flex-flow: row;
    width: 100%;
    border-bottom: 0.1rem solid var(--clr-primary-100);
}

.store-header h3 {
    padding: 0.4rem 0 0.4rem 1rem;
    color: var(--clr-primary-450);
}

.store-header h4 {
    padding: 0.9rem 0 0 0.3rem;
    font-size: 0.6rem;
}

.section-body {
    display: flex;
    flex-flow: row;
    border-bottom: 0.1rem solid var(--clr-primary-100);
}

.dropdown-column {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: fit-content;
    height: 100%;
}

.count-column {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: fit-content;
    height: 100%;
}

.product-column {
    width: 100%;
}

.price-total-column {
    width: fit-content;
    border-left: 0.1rem solid var(--clr-primary-100);
}

.price-detail-column {
    width: fit-content;
    border-left: 0.1rem solid var(--clr-primary-100);
}

.result-item {
    display: flex;
    flex-flow: column;
    align-items: left;
    height: 3rem;
    padding: 0.3rem;
    width: 100%;
}

.result-item p {
    color: var(--clr-text-basic);
}

.result-item p:nth-child(1) {
    font-size: 0.4rem;
    font-style: italic;

}

.result-item p:nth-child(2) {
    width: fit-content;
    font-size: 1rem;
    border-bottom: 0.1rem solid var(--clr-primary-300);
}

.result-item p:nth-child(3) {
    font-size: 0.5rem;
    font-style: italic;
    padding-left: 0.5rem;
}

.product-count-item {
    display: flex;
    flex-flow: column;
    align-items: space-between;
    width: 100%;
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.8rem;
}

.product-count-item button {
    border: 0;
    background-color: var(--clr-white-default);
}

.product-count-item button:hover {
    background-color: var(--clr-white-hover);
}

.product-count {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--clr-text-grey);
    text-align: center;
}

.count-arrow {
    border: solid var(--clr-primary-300);
    border-width: 0 0.15rem 0.15rem 0;
    display: inline-block;
    padding: 0.14rem;
  }

.count-down-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.count-up-arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

.price-detail {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    height: 3rem;
    font-size: 0.7rem;
    font-style: italic;
    border-bottom: 0.05rem solid var(--clr-primary-100);
}

.price-detail p {
    color: var(--clr-text-grey);
    padding: 0 0.2rem 0 0.2rem;
}

.price-total {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 0.6rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.price-total p {
    font-size: 1.1rem;
    color: hsl(100, 100%, 40%);
}

.dropdown-column-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    padding-bottom: 0.2rem;
    margin-left: 0.3rem;
    margin-right: 0.1rem;
}

.dropdown-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 0.2rem;
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 1rem;
    border: 0.15rem solid var(--clr-primary-300);
    background-color: var(--clr-white-default);
}

.dropdown-btn:hover {
    background-color: var(--clr-primary-200);
    border: 0.15rem solid var(--clr-primary-200);
}

.dropdown-btn:hover .dropdown-arrow {
    border: solid var(--clr-white-hover);
    border-width: 0 0.14rem 0.14rem 0;
}

.dropdown-arrow {
    border: solid var(--clr-primary-300);
    border-width: 0 0.14rem 0.14rem 0;
    display: inline-block;
    position: absolute;
    padding: 0.17rem;
  }

.dropdown-down-arrow {
    margin-bottom: 0.1rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown-up-arrow {
    margin-top: 0.1rem;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

.dropdown-list {
    position: absolute;
    top: 0.85rem;
    left: -0.14rem;
    max-height: 15rem;
    max-width: 25rem;
    border: 0.15rem solid var(--clr-primary-200);
    border-radius: 0.2rem;
    z-index: 1;
}

.dropdown-item {
    width: 100%;
    border-bottom: 0.075rem solid var(--clr-text-light-grey);
}

.dropdown-item:last-child {
    border-bottom: 0;
}

.dropdown-item button {
    border: 0;
    width: 100%;
    color: var(--clr-text-grey);
    background-color: var(--clr-white-default);
    height: fit-content;
    text-align: left;
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
    white-space: pre;
}

.dropdown-item button:hover {
    background-color: var(--clr-white-hover);
}

.store-overview {
    width: 100%;
    height: 2rem;
}

.store-overview div {
    display: grid;
    grid-template-areas: "a b";
    width: 100%;
    height: 100%;
    gap: 0.5rem;
}

.store-total {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--clr-text-basic);
    grid-area: a;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.1);
}

.store-avg {
    background-color: rgba(255, 0, 0, 0.1);
}