* {
    box-sizing: border-box;
}

/* Semantic START */
body {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100svh;
    max-height: 1000svh;
    font-family: Verdana, sans-serif;
}

nav {
    position: sticky;
    width: 100%;
    background-color: var(--clr-primary-300);
    height: 5%;
}

header {
    display: flex;
    flex-direction: column;;
    margin-top: 6svh;
    margin-bottom: 3svh;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    height: 20svh;
    background-color: var(--clr-primary-100);
}

main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

section {
    display: flex;
    flex-flow: column;
    background-color: hsl(192, 100%, 99%);
    border: 0.15rem solid var(--clr-primary-100);
    border-radius: 0.3rem;
    margin-bottom: 3svh;
    height: fit-content;
}

footer {
    width: 80%;
    height: 10svh;
    background-color: var(--clr-primary-300);
}

p, h1, h2, h3, h4 {
    color: var(--clr-text-basic);
}

.store-header {
    display: flex;
    width: fit-content;
    flex-flow: row;
    width: 100%;
    border-bottom: 0.1rem solid var(--clr-primary-100);
}

.store-header h3 {
    padding: 0.4rem 0 0.4rem 1rem;
    color: var(--clr-primary-450);
}

.store-header h4 {
    padding: 0.9rem 0 0 0.3rem;
    font-size: 0.6rem;
}

.section-body {
    display: flex;
    flex-flow: row;
}

.product-column {
    width: 100%;
}

.result-item {
    display: flex;
    flex-flow: row;
    height: 3rem;
}

.product-data {
    display: flex;
    flex-flow: column;
    justify-content: left;
    padding: 0.3rem;
    width: 100%;
}

.product-data p, .price-data p {
    color: var(--clr-text-basic);
}

.product-data p:nth-child(1) {
    font-size: 0.4rem;
    font-style: italic;

}

.product-data p:nth-child(2) {
    width: fit-content;
    font-size: 1rem;
    border-bottom: 0.1rem solid var(--clr-primary-300);
}

.product-data p:nth-child(3) {
    font-size: 0.5rem;
    font-style: italic;
    padding-left: 0.5rem;
}

.product-count {
    margin-top: 0.8rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    height: min-content;
    width: fit-content;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--clr-text-grey);
}


.price-total-column {
    width: fit-content;
    border-left: 0.1rem solid var(--clr-primary-100);
}

.price-detail-column {
    width: fit-content;
    border-left: 0.1rem solid var(--clr-primary-100);
}

.price-detail {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: fit-content;
    height: 3rem;
    font-size: 0.7rem;
    font-style: italic;
    border-bottom: 0.05rem solid var(--clr-primary-100);
}

.price-detail p {
    color: var(--clr-text-grey);
    padding: 0 0.2rem 0 0.2rem;
}

.price-total {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 0.6rem;
}

.price-total p {
    font-size: 1.1rem;
    color: hsl(100, 100%, 40%);
}


.dropdown-btn {
    border: 0;
    font-weight: bold;
    color: var(--clr-white-default);
    background-color: var(--clr-primary-300);
    font-size: 0.7rem;
    margin-top: 0.1rem;
    margin-right: 0.2rem;
    padding: 0.2rem 0.3rem;
    height: 80%;
}

.dropdown-btn:hover {
    background-color: var(--clr-primary-200);
}

.dropdown {
    position: absolute;
    max-height: 15rem;
    max-width: 25rem;
    border: 0.1rem solid var(--clr-primary-100);
}

.dropdown-item {
    width: 100%;
    border-bottom: 0.075rem solid var(--clr-text-light-grey);
}

.dropdown-item:last-child {
    border-bottom: 0;
}

.dropdown-item button {
    border: 0;
    width: 100%;
    color: var(--clr-text-basic);
    height: fit-content;
    text-align: left;
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
    white-space: pre;
}
