body {
    display: flex;
    box-sizing: border-box;
    padding: 2%;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.page {
    display: grid;
    grid-template-areas: 
    "input_container results_container"
    "items_container results_container"
    "items_container results_container";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.6fr repeat(2, 1fr);
    width: 100%;
    height: 100%;
    gap: 1.5rem;
}

/* Generic styling */
.container {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.input_field {
    border: 0;
    margin: 0.5rem;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    font-size: 1.2rem;
    min-width: fit-content;
    min-height: fit-content;
    font-weight: bold;
    color: rgb(65, 65, 65);
    background-color: #effaff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.wide_field {
    width: 100%;
}

.input_field:hover {
    background-color: #e2f4ff;
}

.input_button {
    border: 0;
    margin: 0.5rem;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    font-size: 1.1rem;
    font-weight: bold;
    min-width: fit-content;
    min-height: fit-content;
    color: #effaff;
    background-color: rgb(0, 150, 176);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.input_button:hover {
    background-color: rgb(0, 166, 195)
}


/* Input container styling */
.input_container {
    grid-area: input_container;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
}

.store_search_container {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.query_container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.selected_store_container {
    display: flex;
    align-items: center;
}

.store_string {
    margin: 0.5rem;
    padding: 0 0.4rem 0.1rem 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(73, 79, 90);
    border-bottom: 0.2rem solid rgb(0, 150, 176, 0.5);
}


/* Items container styling */
.items_container {
    grid-area: items_container;
    min-width: 0;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.5rem;
}

.query_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0.5rem;
    background-color: #effaff;
}

.query_item:hover {
    background-color: #e2f4ff;
}

.query_item_data {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: 100%;
    max-width: calc(100% - 3.5rem);
}

.query_item_data div {
    display: flex;
    width: fit-content;
    max-width: calc(100% - 3.5rem);
}

.item_amount {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.2rem 0.5rem 0.2rem 0.2rem;
    color:rgb(65, 65, 65);
}

.item_name {
    margin-top: 0.2rem;
    padding-bottom: 0.1rem;
    max-width: 100%;
    height: fit-content;
    word-wrap: break-word;
    font-size: 1em;
    font-weight: bold;
    color:rgb(65, 65, 65);
    border-bottom: 0.2rem solid rgb(0, 150, 176, 0.5);
}

.item_category {
    margin-top: 0.1rem;
    margin-left: 2.5rem;
    height: fit-content;
    word-wrap: break-word;
    font-size: 0.8em;
    font-style: italic;
    color:rgb(65, 65, 65);
}

.query_item button {
    margin: 0.6rem 0.5rem 0.5rem 0.2rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    font-size: 1.3rem;
    height: fit-content
}

.product_input_container {
    display: flex;
    box-sizing: border-box;
    margin: 0.5rem 1.5rem 0.4rem 1.5rem;
    padding: 0.5rem 0 0.4rem 0;
    width: 80%;
    border-bottom: 0.2rem solid rgba(65, 65, 65, 0.2);
}

/* Results container styling */
.results_container {
    grid-area: results_container;
    margin: 0;
    padding: 0;
    min-width: 0;
    max-width: 100%;
    background-color: rgba(47, 0, 255, 0.1);
}
