/* Core page styling */
body {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
    margin: 0 2em 0 2em;
    width: fill;
    height: 100vh;
    font-size: 1rem;
    border-left: 3px solid rgb(215, 215, 215);
    border-right: 3px solid rgb(215, 215, 215);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

/* Page content container styling */
.container {
    box-sizing: content-box;
    display: grid;
    grid-template-areas: 
    "input-container result-container result-container"
    "query-container result-container result-container"
    "query-container result-container result-container";
    grid-template-columns: minmax(fit-content, 15%) 40% 40%;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    margin: 2rem;
    width: 100%;
    height: fill;
}

.input-container, .query-container, .result-container {
    box-sizing: border-box;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

/* Basic grid card styling */
.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: max-content;
    padding: 0.5rem;
}

/* Input container styling */
.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: min-content;
    height: fill;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.input-box {
    box-sizing: border-box;
    position: relative;
    width: max-content;
    height: max-content;
    left: 50%;
    transform: translate(-50%);
}

/* Input field styling */
.input-field {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 5%;
    width: 100%;
    height: max-content;
    font-weight: bold;
    background-color: #f0fffd;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.input-field input, .input-field button, .item-data button {
    border: 0;
    border-radius: 0;
    font-size: 1rem;
    margin-right: 0.4rem;
    padding: 0.5rem;
    color: #f0f0f0;
    background-color: rgb(0, 150, 176);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.product-add-btn {
    width: 2.5rem;
}

.store-add-btn {
    width: max-content;
}

.confirm-selection {
    display: flex;
    position: relative;
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    justify-content: center;
}

.send-query-btn {
    width: max-content;
    height: fill;
    margin-left: 0.4rem;
}

.input-field input:hover, .input-field button:hover, .item-data button:hover {
    background-color: rgb(0, 166, 195)
}

/* Query container styling */
.query-items-list {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    overflow: auto;
}

.query-item {
    box-sizing: border-box;
    display: flex;
    max-width: fit-content;
    padding: 0.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    background-color: #f0fffd;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.item-data {
    display: flex;
    flex-direction: row;
}

.item-data button {
    position: relative;
    width: 2.5rem;
}

/* Container grid areas */
.input-container{
    grid-area: input-container;
}

.query-container {
    grid-area: query-container;
}

.result-container {
    grid-area: result-container;
}

/* Paragraphs/Headers */
p, h2 {
    color:rgb(65, 65, 65);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 0.2em 0;
}

p {
    font-size: 0.9rem;
}

.input-field p {
    font-size: 1rem;
    margin: 0;
    padding-bottom: 0.2rem;
}

.amt {
    height:fit-content;
    position: relative;
    top: 15%;
    font-size: 1rem;
    margin: 0 0.5rem 0 0.5rem;
}

.name {
    position:relative;
    height:fit-content;
    font-size: 1.1rem;
    top: 10%;
    padding: 0.2rem;
    margin: 0 0.5rem 0 0.5rem;
    border-bottom: 0.2rem solid rgb(65, 65, 65);
}