
#response_div {
    overflow-wrap: break-word;
}

#text {
    grid-column-start: 1;
    grid-row: 1 / span 2;
}

#query_block {
    display:inline-block;
    overflow: scroll;
    grid-column-start: 2;
    grid-row: 1 / span 2;
}

#query_block form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-bottom: 2px solid gray;
    border-radius: 0.3em;
    box-sizing: border-box;
}

#query_block form input:focus {
    background-color: lightblue;
}

#query_block button {
    background-color: azure;
    border: 2px solid gray;
    border-radius: 0.3em;
    width: 30%;
    margin-bottom: 1em;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%)
    
}