{% extends "base.html" %}
{% block page_title %}Frugality{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css')}}">
{% endblock %}

{% block scripts %}
<script defer src="{{url_for('static', filename='js/query.js')}}"></script>
{% endblock %}

{%block content %}
<nav>Nav</nav>
<div class="header">Header</div>
<div class="content-large">
    <div id="text">
        <h2>Groceries price calculator</h2>
        <p>This app is currently in very early development. This page simply sends out
            a request to the server to fetch the price of a predefined shopping list.
        </p>
    </div>
    <div id="query_block">
        <form>
            <input id="operation" type="text" value="" placeholder="Enter operation">
        </form>
        <form>
            <input id="store_id" type="text" value="" placeholder="Enter store ID">
        </form>
        <form>
            <input id="query" type="text" value="" placeholder="Enter query">
        </form>
        <form>
            <input id="category" type="text" value="" placeholder="Enter category (THIS IS CURRENTLY A PLACEHOLDER)">
        </form>
        <button onclick="sendQuery()">Query</button>
        <div id="response_div">
            <p id="response_embed"></p>
        </div>
    </div>
</div>
<div class="sidebar">Sidebar</div>
<div class="footer">Footer</div>
{% endblock %}