{% extends "base.html" %}
{% block page_title %}Frugality{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/style.css')}}">
{% endblock %}

{% block scripts %}
<script defer src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{%block content %}
<nav>
    <p>Navigation</p>
</nav>
<header>
    <h1>Frugality</h1>
    <div class="input-box">
        <input id="store-input" class="field rounded" type="text" placeholder="Enter store name"></input>
        <button class="btn rounded shadow" onclick="addStore()">+</button>
    </div>
    <ul class="horizontal-list stores-list">
        {% for store in store_names %}
        <li class="store-item">
            <p class="store-msg rounded shadow">{{store}}</p>
            <button onclick="removeStore({{loop.index0}})">-</button>
        </li>
        {% endfor %}
    </ul>
</header>
<main>
    <section class="section-1">
        <h2>Product Search</h2>
        <div class="input-box">
            <input id="query-input" class="field rounded" type="text" placeholder="Enter product name"></input>
            <button class="btn rounded" onclick="addQuery()">+</button>
        </div>
        <ul class="vertical-list queries-list">
            {% for item in queries %}
            <li class="query-item shadow rounded-more">
                <div class="query-data">
                    <p class="count">{{item["count"]}}x</p>
                    <div class="item-text">
                        <p class="name">{{item["query"]}}</p>
                        <p class="category">{{item["category"]}}</p>
                    </div>
                    <button class="btn rounded" onclick="removeQuery({{loop.index0}})">-</button>
                </div>
            </li>
            {% endfor %}
        </ul>
        <button class="btn rounded" onclick="sendQuery()">Query Search</button>
    </section>
</main>
<footer>
    <p>Footer</p>
</footer>
{% endblock %}