{% extends "base.html" %}
{% block page_title %}Frugality{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/style.css')}}">
{% endblock %}

{% block scripts %}
<script defer src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{%block content %}
<div class="page">
    <div class="store-container container">
        <div class="store-msg-box">
            <p class="store-msg">{{store}}</p>
        </div>
        <form id="store-form" action="{{url_for('get_store')}}">
            <input class="field" type="text" placeholder="Store Name" name="query"></input>
            <input class="btn" type="submit" value="Select store"></input>
        </form>
    </div>

    <div class="queries-container container">
        <div class="query-input-box">
            <input id="query-input" class="field wide_field" type="text" placeholder="ex. Maito Laktoositon 1L"></input>
            <button class="btn" onclick="addQuery()">+</button>
        </div>
        <ul class="query-list">
            {% for item in queries %}
            <li class="query-item container">
                <div class="query-data">
                    <p class="query-count">{{item["count"]}}x</p>
                    <div class="query-text">
                        <p class="query-name">{{item["query"]}}</p>
                        <p class="query-category">{{item["category"]}}</p>
                    </div>
                    <button class="btn" onclick="removeQuery({{loop.index0}})">-</button>
                </div>
            </li>
            {% endfor %}
        </ul>
        <button class="btn" onclick="sendQuery()">Query Search</button>
    </div>

    <div class="products-container container">
        <div>
            <p>Example store: Prisma Olari 542862479</p>
        </div>
        {% for item in products %}
        <p>Item name: {{item["name"]}}</p>
        <p>Item count: {{item["count"]}}</p>
        <p>Item price: {{item["unit_price"]}}</p>
        <p>Item comparison_price: {{item["comparison_price"]}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}