{% extends "base.html" %}
{% block page_title %}Frugality{% endblock %}

{%block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
    <p>Name: </p>
    <p><input type="text" name="name" /></p>
    <p><input type="submit" name="submit" /></p>
</form>
{% endblock %}


<div id="query_block">
    <form action="#">
        <input id="operation" type="text" value="" placeholder="Enter operation">
        <input id="variables" type="text" value="" placeholder="Enter variables">
    </form>
    <button id="b" onclick="sendQuery()">Query</button>
</div>
<div id="response_div">
    <p id="response_embed"></p>
</div>