{% extends "base.html" %}
{% block page_title %}Frugality{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/search.css')}}">
{% endblock %}

{% block scripts %}
<script defer src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{%block content %}
<nav>
    <p>Navigation</p>
</nav>
<header>
    <h1>Frugality</h1>
    <p class="store-msg">{{store}}</p>
    <input class="field" type="text" placeholder="Store Name" name="query"></input>
    <button class="btn" type="submit" value="Select store"></button>
</header>
<main>
    <section>
        <p>Example store: Prisma Olari 542862479</p>
    </section>
</main>
<footer>
    <p>Footer</p>
</footer>
{% endblock %}